.main-section {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

.questionanswer-sections {
    display: flex;
    justify-content: space-between;
}

.answer-column {
    flex: 1;
    margin-right: 1rem;
}

.answer-column:last-child {
    margin-right: 0;
}

.answer-column h3 {
    margin-bottom: 0.5rem;
}

.lightning-input {
    margin-bottom: 0.5rem;
}
.section2{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.pointerTableContainer{
	display: flex;
	justify-content: center;
	align-items: center;

	border: 2px solid rgb(190, 190, 190);
	border-radius: 7px; 
}
.fieldsRow{
	display: flex;
	flex-direction: row;
}
.slds-modal__container {
    max-width: 80rem !important;
    width: 80% !important;
   /* max-height: 80rem !important;
    height: 80% !important;*/
}
.custom-vertical-align {
    vertical-align: middle;
}
.slds-table-container {
    border-left: 1px solid #d8dde6;
    border-right: 1px solid #d8dde6;
}
.overallTableContainer{
	border: 2px solid rgb(190, 190, 190);
	border-radius: 7px;

    max-height: 400px; /* Adjust height as needed */
    overflow-y: auto; 
}
.scrollable-container {
    max-height: 400px; /* Adjust height as needed */
    overflow-y: auto;  /* Enables vertical scrolling */
}