.homeCard {
    background-color: white !important;
    box-shadow: 0 4px 8px 0 rgba(226, 162, 237, 0.2), 0 6px 20px 0 rgba(216, 170, 238, 0.19);
    margin-top: 20px; /* increased from 10px */
    margin-bottom: 30px; /* increased from 20px */
	/*font-family: 'sans-serif';*/
}
.childparent {
    display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 5px;
}

.childimage {
    width: 30%;
	padding:0px;
	border-right: 1px black;
}

.childtext {
    width: 70%;
	padding-top: 3px;
    padding-left : 3px;
}