.table1 {
   overflow: hidden;
   width: 100%;
   margin-right: 100%;
}

.cancel {
   color: red;
}
.slds-button--icon-border, .slds-button--icon-border-filled, .slds-button_icon-border, .slds-button_icon-border-filled {
    line-height: 1;
    vertical-align: middle;
    color: red;
    border: 1px solid #ea001e;
    -webkit-transition: border .15s linear;
    transition: border .15s linear;
    border-color: #dddbda;
}