.redColor{
    color : #FF0000;
}
.iconContainer{
    width : 50px;
    height:50px;
    display:inline-block;
    cursor: pointer;
}
.blueColor{
    color : rgb(25, 0, 255);
} 

.table-container {
  max-height: calc(6 * 40px + 40px);
  overflow-y: scroll; /* enable vertical scrollbar */
  position: relative;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1; /* set z-index to keep the header on top */
  backdrop-filter: blur(8px);
  opacity: 0.95;
}

th {
  text-align: left;
  padding: 8px;
  font-weight: bold;
  border: 1px solid #ddd;
}

tbody {
  border: 1px solid #ddd;
}

tr {
  border-bottom: 1px solid #ddd;
}

td {
  text-align: left;
  padding: 8px;
}

tr:hover {
  background-color: #f9f0ff;
}

tr.selected {
  background-color: #e1f5fe;
}

tr:focus {
  outline: none;
}
/*
.table-container::-webkit-scrollbar {
  width: 6px;
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb {
  background : rgb(223, 185, 235);
  border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}*/