.container {
  position: relative;
  width: 100%;
  max-height: 20%;
}

.container img {
  width: 100%;
  height: 20%;
  border-radius: 5px;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  max-height : 20%;
}

.container .btn:hover {
 
}

.childparent {
    display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 5px;
}

.addscroll{
   max-width: 100%;
    overflow: auto;
}

.childimage {
    width: 40%;
	padding:0px;
	border-right: 1px black;
    padding-right: 6px;
}

.childtext {
    width: 60%;
	padding-bottom: 10px;
    padding-left : 3px;
	text-align: right;
}

.image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.image{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.annualAward {
  max-width: 90rem !important;
  width: 100% !important;
}

.tableFixHead {
  max-height: 600px; /* set maximum height */
  overflow: auto; /* enable vertical scrollbar */
  padding:5px;
}

.tableFixHead table, th, td {
  border: 0.5px solid #31363F;
  border-collapse: collapse;
}

.tableFixHead::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 4px;
}

.tableFixHead::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.tableFixHead::-webkit-scrollbar-thumb {
  /*background: #888;*/
  background : blue;
  border-radius: 4px;
}

.tableFixHead::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tableheading{
}
.tableFixHead table {
    border-collapse: collapse;
    width: 100%;
}
.tableFixHead thead {
   padding:0px;
}

.tableFixHead th {
  /*  position: sticky;
    top: 0;
    z-index: 0;*/
	color: white; font-size:9pt;
  font-weight: 2px;
	padding-top: 0px;
  background: #7F8DE1;
 }

.contacttableFixHead {
  max-height: 350px; /* set maximum height */
  overflow: auto; /* enable vertical scrollbar */
  padding:5px;
  border-radius: 10px;
  
}

.contacttableFixHead::-webkit-scrollbar {
  width: 6px;
}

.contacttableFixHead::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.contacttableFixHead::-webkit-scrollbar-thumb {
  /*background: #888;*/
  background : lightcoral;
  border-radius: 4px;
}

.contacttableFixHead::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.contacttableFixHead{
}
.contacttableFixHead table {
    border-collapse: collapse;
    width: 100%;
}
.contacttableFixHead thead {
   padding:10px;
}


.contacttableFixHead th {
  color: black; font-size:9pt;
	
    background: #F3F2F2 !important; 
     
 }

.hideContent{
  display: none;
}
.displayContent{
  display: block;
}

.tableFixHead table{
  display: table;
  /* table-layout: fixed; */
}
.tableFixHead th, .tableFixHead td{
  padding: 0.5%;
}

.slds-modal__container{
    width: 90% !important;
    max-width: 90% !important;  
}
.allAwards td{
  padding: 0;
}
.borderClr{
  border-bottom: 1px solid #31363F;
}