table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 95%;
}

.table-container {
  max-height: 150px; /* set maximum height */
  overflow: auto; /* enable vertical scrollbar */
}

.table-container::-webkit-scrollbar {
  width: 6px;
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb {
  /*background: #888;*/
  background : rgb(223, 185, 235);
  border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

th, td {
  border: 1px solid #ddd;
}

.childparent {
    display: flex;
    align-items: center;
    justify-content: space-between;
	padding-top: 5px;
}

.childimage {
    width: 30%;
	padding:0px;
	border-right: 1px black;
}

.childtext {
    width: 70%;
    padding-left : 3px;
}

.homeCard {
    background-color: white !important;
    box-shadow: 0 4px 8px 0 rgba(226, 162, 237, 0.2), 0 6px 20px 0 rgba(216, 170, 238, 0.19);
    margin-top: 20px; /* increased from 10px */
    margin-bottom: 30px; /* increased from 20px */
	border-radius: 5px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 8px;
  font-weight: bold;
}

tr {
  border-bottom: 1px solid #ddd;
}

td {
  text-align: left;
  padding: 8px;
}

td:first-child {
  font-weight: bold;
}

tr:hover {
  background-color: #f9f0ff;
}

tr.selected {
  background-color: #e1f5fe;
}

tr:focus {
  outline: none;
}

.container {
  text-align: center; /* Optional, to center the boxes */
}

.box {
  display: inline-block;
  /* Set the width of the boxes as per your requirement */
  /* Optional, to add some spacing between the boxes */
}