.container {
  position: relative;
  width: 100%;
  max-height: 20%;
}

.container img {
  width: 100%;
  height: 20%;
  border-radius: 5px;
}

/*
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  max-height : 20%;
}*/


.btn2 {
  width: 100%; /* Full width */
}

.btn-container {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  width: 100%;
  color: white;
  font-size: 13px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btn-container lightning-button {
  margin-left: 10px; /* Add margin between buttons */
}

.container .btn:hover {
 
}

.childparent {
    display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 5px;
}

.addscroll{
   max-width: 100%;
    overflow: auto;
}

.childimage {
    width: 90%;
	padding:0px;
	border-right: 1px black;
  padding-right: 6px;
  overflow-x: auto;
}

.childtext {
    width: 10%;
	padding-bottom: 10px;
    padding-left : 3px;
}

.image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.annualAward {
  max-width: 90rem !important;
  width: 100% !important;
}