.maxValueError {
    color: rgb(234 0 30);
    font-size: 12px;
    white-space: pre-wrap;
    max-width: 80px;
}

.alignCenter {
    align-items: center;
}

.fullWidth {
    width: 100% !important;
}

.tableStyle {
    border: 1px solid rgba(239, 235, 235, 0.927);
    border-radius: 5px;
}

.tabelHeader {
    border-bottom:1px solid rgb(237, 231, 231)
}

.tableFooter {
    background-color: #f0eaff;
}

.header {
    background: white;
    border-radius: 5px;
}

.timeSheet {
    font-size: 18px;
    font-weight: 700;
}

.modalStyle {
    font-size: 15px;
}

.total {
    font-weight: 700;
}
.changeIconColor{
    --lwc-colorTextIconDefault: #e20606;
}
.borderStyle {
border-style: none;
}